body{

    font-family: 'Poppins', sans-serif;
}



#hero {
    background-color:  #DDDDDD;
  
 

    width: 100%;
    height: 100vh;
    color:#000000;
    padding-top: 100px;
    padding: 100px;


}


#text{

   margin-top: 30px;
   margin-bottom: 50px;

   
}

#footer {

    background-color: #DDDDDD;
    padding-top: 30px;
    padding-bottom: 30px;
    /* margin-top: 140px; */
}

.centar {
    text-align: center;
    color: #FC7233;
}

#contact {
    text-align: center;
    color: #000000;
}

#learnPic{

    padding: 0px 0px 100px 0px;
}
.ProektSlika {

  
    padding: 100px 0px 100px 100px;
    /* margin-top: 100px; */
}
.ProjectName{

   
    padding: 150px 200px 100px 0px;
    /* color: #4F5964; */
   

}
#Projects {
    background-color: #FFFFFF;
    color: #222222 ;
}

.link{
    color: #222222 ;
    font-size: 20px;
    font-weight: bold;
    border-bottom: #222222 solid 2px;
    display: inline-block;
    text-decoration: none;
    padding-bottom: 15px;;
   

}

.centar {
    margin-top: 30px;
}

#contact {

    margin-top: 50px;
    margin-bottom: 70px;
}
#linkedin{
    text-decoration: none;
    color: black;
}



#mojaSlika{
   padding-left: 100px;
   margin-top: 50px;;
}
#meText{
    margin-top: 150px;
    padding-left: 100px;

}
#end{
    text-align: center;
    background-color: #4B4A47;
    color: #FFFFFF;
    /* padding-top: 2px; */
    /* padding-bottom: 2px; */
}
.orange{
    color: #FC7233;
}
.clear{
    clear: both;
}


h3{
    margin-bottom: 20px;
}

@media only screen and (max-width: 576px) {
   
    #mojaSlika{
        display: none;
    }
    .resume{
        margin-bottom: 20px;
    }

     /* .ProektSlika{
        padding: 0px;
        /* margin-left: 20px;; */
      

    img{
        width: 400px;
        padding-bottom: 0px;
    }
    #learnPic{
        margin-left: 60px;
    }
   
    #SSlika{
        width: 300px;
        margin-left: 20px;
    }
   
    .ProjectName{
        /* padding: 30px 0 0 0; */
        margin-bottom: 80px;
        /* margin-top: 20px; */
        text-align: center;
        margin-left: auto;
        margin-right: auto;   
        padding: 0px;
        margin-top: -40px;

        

    }

    
    /* #slika{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        
       } */
 
       .overview, .problem, .solution, .outcome{
           margin:0px;
           text-align: left;
       }


    }
/*  END OF MEDIA QUERY */


  /* VidiVakaCaseStudy */
  .info{
      margin-left: 170px;
      @media only screen and (max-width: 576px) {
          margin-left: 20px;

      }
  }
  .overview, .problem, .solution, .outcome{
      margin-left: 170px;
      margin-top: 100px;
      margin-right: 170px;
      /* @media only screen and (max-width: 576px) {
        margin-left: none;
        
    } */
    }
    .outcome{
        margin-bottom: 150px;
    }
    .potencirano{
        font-weight: bold;
    }
    /* .slika{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 1000px;
        border-color: blues;
    } */
    #heroVidiVaka{
        background-color: #DDDDDD;
        margin-bottom: 50px;
        padding-bottom: 100px;
        padding-top: 100px;
        
    }
    .vvPersona{
        border: 1px solid #e9e9ee;
        margin-top: 40px;
        margin-bottom: 40px;
    }
   
    #heroSlikaVV{

               margin-top: 0px; 
   }
   
   #heroTekst{
              margin-top: 100px; 
              padding-left: 150px;   
             }
  #heroTheLearn{
  
        background-color: #DDDDDD;
        margin-bottom: 50px;
        /* padding-bottom: 100px; */
        /* padding-top: 100px; */
        
    
  }
  #herotekstApp{

    margin-top: 150px;
    padding-left: 150px;;
  }
  /* Shum */
  #heroShum{
      background-color: #DDDDDD;
      margin-bottom: 50px;
     
  }
  #ShumSlka{
      margin-top: 30px;
      margin-bottom: 30px;
      width: 500px;
      align-items: center;
      margin-left: 100px;
  }