#hero {
    background-color: #EACEC5;
    /* width: 100%; */
    /* height: 100vh; */
    color:#61646C;
    padding-top: 100px;
    padding: 100px;

}

#text{

   margin-top: 30px;
   margin-bottom: 50px;

   
}

#footer {

    background-color: #4F5964;
    padding-top: 30px;
    padding-bottom: 30px;
}

.centar {
    text-align: center;
    color: #E5CCC5;
}

#contact {
    text-align: center;
    color: #FDFBFB;
}

#ProektSlika {

  
    padding: 100px 0px 100px 100px;
}
#ProjectName{

   
    padding: 100px 200px 100px 0px;
    color: #4F5964;

}
#Projects {
    background-color: #F9F2F0;
}

.centar {
    margin-top: 30px;
}

#contact {

    margin-top: 50px;
    margin-bottom: 70px;
}


nav{
    background-color: #EACEC5;
     float: right; 
     padding-right: 50px;
     font-family: Montserrat;
     font-size: 24px;
     
}
.navbar-nav{
    padding-right: 100px;
}
.nav-item{
    margin-left: 36px;
}

#mojaSlika{
   padding-left: 100px;
}
#end{
    text-align: center;
    background-color: #EACEC5;
    color: #4F5964;
}
.red{
    color: #723E51;
}
.clear{
    clear: both;
}
.resume{
    background-color: #EACEC5;
    border-radius: 20px;
    color: #723E51;
  border: 2px solid #723E51;
  padding: 5px;
  width: 100px;
  margin-right: 20px;;
}
.caseStudy{
    background-color: #F9F2F0;
    border-radius: 20px;
    border: 2px solid #723E51;
    padding: 5px;
    width: 150px;
    margin-top: 30px;
    color: #723E51;

}
h3{
    margin-bottom: 20px;
}

@media only screen and (max-width: 576px) {
    body {
      background-color: #000000;
    }
    #mojaSlika{
        display: none;
    }
     #ProektSlika{
        padding: 0px;
        /* margin-left: 20px;; */
      

    } 
   

    #ProjectName{
        /* padding: 30px 0 0 0;; */
        margin-bottom: 60px;
        margin-top: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;   
        padding: 0px;;    

        

    }

    #Projects{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #slika{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        
       }


  }